<!-- app/templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Flask App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1><center>Лабораторна робота №7</center></h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('main.index') }}">Головна</a></li>
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('main.account') }}">Мій аккаунт</a></li>
                    <li><a href="{{ url_for('main.logout') }}">Вихід</a></li>
                {% else %}
                    <li><a href="{{ url_for('main.login') }}">Вхід</a></li>
                    <li><a href="{{ url_for('main.register') }}">Реєстрація</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </main>
</body>
</html>
